.link {
  stroke: #aaa;
}

.node text {
  stroke: #333;
}

.node circle {
  stroke: #fff;
  stroke-width: 3px;
  fill: #555;
}

.left-side {
  flex-grow: 1;
}

.Graphs-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  /*  line-height: 47px; */
  text-align: left;
  margin: 8px 25px;
  /* display: flex;
    align-content: center;
    text-align: center; */

  color: #000000;
}

.button {
  background: var(--primary);
  border-radius: var(--xl);
  color: #ffffff;
  cursor: pointer;
  font-family: DM Sans;
  font-size: 12spx;
  line-height: 16px;
  padding: 8px 16px;
  touch-action: manipulation;
  border: 0;
  transition: all 0.3s;
  height: 32px;
}

.button:hover {
  background: var(--primary--dim);
}

/* .generate-button {
  background: var(--primary);
  border-radius: var(--xl);
  color: #ffffff;
  cursor: pointer;
  font-family: DM Sans;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  touch-action: manipulation;
  border: 0;
  margin: 8px;
} */
.Graph-names {
  border: 1px solid;
  border-color: #aaa;
  margin: 8px;
  border-radius: 32px;
  height: 30px;
  transition: all 1s;
}
.Graph-names--faded {
  border: 1px solid;
  border-color: #aaa;
  margin: 8px;
  border-radius: 32px;
  height: 30px;
  transition: all 1s;
  opacity: 0;
}

.Graphs-x {
  margin-left: 8px;
  border: 1px solid;
  border-color: rgb(141, 141, 141);
  border-radius: 32px;
  font-size: 10px;
}

.Graphs-x:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.Graphs-bubbleText {
  margin: 0px 8px 0px 16px;
}

.Graphs-pageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.Graphs-svgContainer {
  width: 100%;
  height: 100%;
}

.Graphs-topbar {
  margin: 8px;
  display: flex;
  /* border-bottom: 1px solid; */
  /* border: 1px solid;
  border-color: #000;
  border-radius: var(--xl); */
  max-width: 100;
  transition: all 1s;
  padding: 0px 8px;
}

.Graphs-text {
  margin: 8px 8px 8px;
}
.Graphs-textInside {
  margin: 0px 8px 0px 0px;
  font-size: 14px;
}

.InputBox {
  text-align: center;
  margin: 8px;
  border: 0px;
  border-bottom: 2px solid;
  border-color: #aaa;
}

.InputBoxSmall {
  width: 40px;
}

.InputBox:focus {
  outline: none;
  border: 0px;
  border-bottom: 2px solid;
  border-color: var(--primary);
  transition: border-color 0.5s;
}

.InputBoxInside {
  margin: 4px 0px 4px 16px;
  border: 0px;
  border-bottom: 2px solid;
  border-color: #aaa;
}

.InputBoxInside:focus {
  outline: none;
  border: 0px;
  border-bottom: 2px solid;
  border-color: var(--primary);
  transition: all 0.5s;
}

.Graphs-switch {
  overflow: hidden;
  margin: 8px;
  background-color: #fff;
  border: 1px solid;
  width: 35px;
  border-radius: 32px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  color: var(--primary);
  border-radius: 32px;
  -webkit-appearance: none;
  height: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  -webkit-appearance: none;
  height: 16px;
  margin: 0px 0px;
  border-radius: 32px;
  background: #434343;
  box-shadow: -85px 0 0 80px var(--primary);
}

.dragLine {
  stroke: #333;
  stroke-width: 3px;
}

.dragLine.hidden {
  stroke-width: 0;
}

.Graphs-ModeSelector{
  position: relative;
  padding: 0px -8px;
  margin: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid;
  border-color: #aaa;
  border-radius: 32px;
  height: 32px;
  width: 246px;
}

.Graphs-ModeSelectorSelectedCre{
  color: white;
  display: flex;
  align-items: center;
  top: 0px;
  position: absolute;
  left: 0px;
  height: 32px;
  background-color: var(--primary);
  border-color: #aaa;
  border-radius: 32px;
  padding: 0px 8px;
  transition: left 0.5s;
  width: 107px;
 /*  padding: 5.5px;
  margin: 5.5px; */
}

.Graphs-ModeSelectorSelectedAlg{
  text-align: center;
  color: white;
  width: 81px;
  display: flex;
  align-items: center;
  top: 0px;
  position: absolute;
  left: 122.5px;
  height: 32px;
  background-color: var(--primary);
  border-color: #aaa;
  border-radius: 32px;
  padding: 0px 21px;
  transition: left 0.5s;
 /*  padding: 5.5px;
  margin: 5.5px; */
}


.Graphs-ModeSelectorTextAlg{
  margin: 0px 8px;
  width: 107px;
  text-align: center;
  resize: none;
  position: absolute;
  top: 5.5px;
  left: 120px;
}

.Graphs-ModeSelectorTextCre{
  margin: 0px 8px;
  width: 107px;
  position: absolute;
  top: 5.5px;
  left: 0px;
}

.Graphs-ModeSelectorTextHidden{
  width: 0px;
} 

.container{
  position: absolute;
}
.Algorithm-legend{

  margin: 24px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  border-radius: 16px;
}

.infoLegend{
  border: 1px solid black;
  border-radius: 16px;
  padding: 8px;
  margin: 24px;
}
.redCircle{
  border-radius: 32px;
  height: 16px;
  width: 16px;
  background-color: red;
}


.pinkCircle{
  border-radius: 32px;
  height: 16px;
  width: 16px;
  background-color: pink;
}


.aquaEdge{
  border-bottom:8px solid #00c2a5;
  width: 40px;
}
