.link {
  stroke: #aaa;
}

.node text {
  stroke: #333;
}

.node circle {
  stroke: #fff;
  stroke-width: 3px;
  fill: #555;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}
.left-side {
  flex-grow: 1;
}

.title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin: 1% 15%;
  /* display: flex;
    align-content: center;
    text-align: center; */

  color: #000000;
}

.button {
  background: var(--primary);
  border-radius: var(--xl);
  color: #ffffff;
  cursor: pointer;
  font-family: DM Sans;
  font-size: 12spx;
  line-height: 16px;
  padding: 8px 16px;
  touch-action: manipulation;
  border: 0;
  margin: 8px;
}

.button:hover {
  background: var(--primary--dim);
}

/* .generate-button {
  background: var(--primary);
  border-radius: var(--xl);
  color: #ffffff;
  cursor: pointer;
  font-family: DM Sans;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  touch-action: manipulation;
  border: 0;
  margin: 8px;
} */
.graph-names {
  font-weight: bold;
  font-family: DM Sans;
}

.Graphs-pageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.Graphs-svgContainer {
  width: 100%;
  height: 100%;
}

.Graphs-loadingMenu {
  margin: 8px;
  display: flex;
  border: 1px solid;
  border-color: #000000;
  border-radius: var(--xl);
  max-width: 100;
  transition: all 1s;
}

.InputBox {
  margin: 8px;
  border: 0px;
  border-bottom: 2px solid;
  border-color: #aaa;
}

.InputBox:focus {
  outline: none;
  border: 0px;
  border-bottom: 2px solid;
  border-color: var(--primary);
  transition: all 0.5s;
}
